body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  align-items: center;
  background-color: aliceblue;
}

li {
  list-style-type: none;
}

.nav-items {
  display: flex;
  gap: 2rem;
  margin: 0;
  
}

.nav-logo {
  margin: 0;
}

.nav-subtext {
  margin: 0;
}

.header {
  position: relative;
}

.header-image {
  width: 125%;
  position: absolute;
  transform: translateZ(-1);
}

form {
  display: flex;
  gap: 2rem;
  background-color: aliceblue;
  width: fit-content;
  padding: 1rem 1.5rem;
  position: absolute;
  transform: translateY(75%);
  border-radius: 5px;
  margin-left: 2rem;
}

.form-data {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.form-data-right, .form-data-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

input, label {
  margin: 0px;
  border: none;
  outline: none;
  font-family: inherit;
}
